@import "bulma";

ul {
  padding: 1rem;
  list-style-type: disc;

  li {
    padding-bottom: 0.5rem;
    :last-child {
      padding-bottom: 0;
    }
  }
}

p {
  margin-bottom: 1rem;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 1rem;
}

h1 {
  font-size: $size-1;
}

h2 {
  font-size: $size-2;
}

h3 {
  font-size: $size-3;
}

h4 {
  font-size: $size-4
}

h5 {
  font-size: $size-5
}

h6 {
  font-size: $size-5
}

figure.image {
  margin: 0.5rem 0;
  padding: 0.3rem;
  background: $white-ter;

  figcaption {
    text-align: center;
  }
}
